# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.env
.env.*

# Node
node_modules/
build/
dist/

# Docker
*.pid
*.log
postgres_data/
redis_data/

# VSCode
.vscode/

# OS
.DS_Store
Thumbs.db 

# Backend venv and data
booklist-backend/venv/
booklist-backend/__pycache__/
booklist-backend/.env

# Frontend data
booklist-front/node_modules/
booklist-front/dist/ 